<div id="divFormUpdatePassword">
    <h1 class="title">ACTUALIZAR PASSWORD</h1>
    <form [formGroup]="formUpdatePassword">
        <mat-form-field>
            <mat-label >Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="formUpdatePassword.controls['password'].invalid">Minimo 6 caracteres</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label >Repite password</mat-label>
            <input matInput type="password" formControlName="c_password">
            <mat-error *ngIf="formUpdatePassword.controls['c_password'].value !== formUpdatePassword.controls['password'].value">No coincide con password</mat-error>
        </mat-form-field>
      <div class="boton">
          <a id="updatePassword" (click)="sendNewPassword()" type="button" color="primary">   <button mat-mini-fab color="primary">
            <mat-icon>send</mat-icon>
          </button>  </a>
      </div>
    </form>
    </div>