@font-face {
    font-family: 'Cards';
    src: url('../icons/Terserah.otf');
}

div#divArticlesAlumno{
    width: 80%;
}

div article.articleAlumno {
    font-size: 1rem;
    font-family: 'Cards';
    color: white;
    margin: 1rem auto;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 1rem;
    background: rgb(108,39,222);
    background: linear-gradient(0deg, rgba(108,39,222,1) 0%, rgba(131,71,228,1) 52%, rgba(166,119,246,1) 82%, rgba(199,183,245,1) 100%);
    opacity: 0.8;
    width: 50%;
    text-align: center;
    word-wrap: break-word;
}


div article.articleAlumno:hover {
opacity: 1;
}

div#divContenedorAlumnos > div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0.6rem 0;
    justify-content: center;
}


div a#btnAdd {
    margin: 0.5rem 0;
    width: 45px;
    height: 45px;
}
div#divContenedorAlumnos {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}

article.articleAlumno div.botones {
    margin: 0.5rem auto;
}
article.articleAlumno div.botones a {
    width: 25px;
    height: 25px;
    margin: 0.5rem;
}

div#divContenedorAlumnos > h1 {
    color: white;
}

/*-----------VERSION PC-------------------*/
@media (min-width: 992px) {
   
    div article.articleAlumno {
        font-size: 2rem;
        margin: 2rem;
        width: 18%;
        height: 200px;
    }
    
    
    div#divContenedorAlumnos > div {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
    
    
    div a#btnAdd svg{
        width: 60px;
        height: 60px;
    }
    div#divContenedorAlumnos {
        align-items: center;
        display: flex;
        flex-flow: column wrap;
    }
    
    
    article.articleAlumno div.botones svg {
        width: 35px;
        height: 35px;
    }
    
    div#divContenedorAlumnos > h1 {
       font-size: 4rem;
    }

    div article.articleAlumno div{
        margin: 1rem 0;
    }
    
    div#divArticlesAlumno{
        width: 100%;
    }

    mat-form-field{
        width: 900px;
     }

}
