@font-face {
    font-family: 'Cards';
    src: url('../icons/Terserah.otf');
}

div#contenedor {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem 0;
}

div#contenedor h1 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}


div#divArticles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: 'Cards';
    font-size: 1.4rem;
}

div#divArticles article.articleCursoEscolar {
   margin: 1rem;
   border: 1px solid white;
   padding: 1rem;
   border-radius: 1rem;
   background: rgb(108,39,222);
   background: linear-gradient(0deg, rgba(108,39,222,1) 0%, rgba(131,71,228,1) 52%, rgba(166,119,246,1) 82%, rgba(199,183,245,1) 100%);
   opacity: 0.8;
   word-wrap: break-word;
}

div#divArticles article.articleCursoEscolar:hover{
    opacity: 1;
}

div#divArticles article.articleCursoEscolar div#botones{
    padding-top: 8px;
}
div#divArticles article.articleCursoEscolar div#botones a{
    margin: 0.5rem;
}

/*-----------VERSION PC-------------------*/
@media (min-width: 992px) {
    div#divArticles article.articleCursoEscolar {
        margin: 4rem;
        padding: 1.5rem 1.7rem;
        font-size: 2.5rem;
    }

        div#divArticles article.articleCursoEscolar div {
            margin: 1rem 0;
        }
    
        div#contenedor > h1 {
            font-size: 3rem;
            margin: 2rem 0;
        }
}