<div id="divContenedorUpdatePassword">
    <h1 class="title">RECUPERAR CONTRASEÑA</h1>
    <form [formGroup]="formUpdatePassword">
        <mat-form-field>
            <mat-label >Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="formUpdatePassword.controls['email'].invalid">Formato invalido</mat-error>
        </mat-form-field>
      <div class="boton">
          <a id="sendEmail" (click)="sendEmail()" type="button" color="primary">
            <button mat-mini-fab color="primary">
                <mat-icon>send</mat-icon>
              </button>  
          </a>
      </div>
    </form>
    </div>